@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  *{
    margin:0;
    padding:0;
  }
  /*les margins et les paddings ne sont pas ajoutés aux tailles définies pour les divs*/
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @font-face {
    font-family: 'Alcubierre';
    src: url('Alcubierre.otf');
  }
  body{
    font-family: "Alcubierre", Arial, sans-serif;
    font-weight: bolder;
    background-image: url(img/bois.jpg);
  }
  header{
    width: 100%;
    height: 14vh;
    /*background-color: blue;*/
    text-align: center;
    padding-top: 6vh;
  }
  h1{
    color: white;
    font-size: 4em;
  }

  #box{
    height: 90vh;

  }

  #minibox{
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
  }
  a{
    text-decoration: none;
  }
  .lignes {
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.5vh;
    width: 100%;
    border: 0.1vw solid black;
    border-radius: 0.3vw;
    margin-top: 0.4vh;
    font-size: 2em;
    padding-top: 1.3vh;
  }

  .nom{
  color: black;
  font-size: 1.5em;
  text-align: center;
  }

  .photo img{
  float: left;
  width: 27vw;
  height: 24vh;
  margin: 1vh 2vw 1vh 1vw;
  }

  #descrip1, #descrip2, #descrip3,#descrip4,#descrip5,#descrip6,#descrip7,#descrip8,#descrip9,#descrip10{
  position:relative;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 59vh;
  padding: 2vh 1vw 2vh 1vw;
  color: black;
  display: none;
  clear: left;
  font-size: 2.5em;
  }

  #descrip4,#descrip6, #descrip7, #descrip9 ,#descrip10 {
    overflow-y: scroll;
  }

  #texte p {
    text-align: justify;
    margin-top: 2vh;

  }
}
